
.productlistmain{
    height: 100%;
    width: 100vw;
    display: flex;
}

.productlistdiv{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    
}

.productbodydiv{
    display: flex;
    height: 100%;
    width: 100%;
}

.productfilterdiv{
    min-width: 20rem;
    width: 30%;
    background-color: ##fffdf7;
    
}

.searchfilterdiv{
    background-color: #d5c7f3;
}

.searchfilterform{
    padding: 1rem;
}


.searchinputdiv{
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.searchinput{
    
}

.searchbtndiv{
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.searchbtn{
    
}


.filtersdiv{
    padding: 2rem;
    padding-top: 1rem;
}

.filtercatdiv{
    
}

.filtercattxtdiv{
    margin:0;
    padding-bottom: 1rem;
}

.filtercattxt{
    margin:0;
    font-size: 2rem;
    font-weight: 600;
}

.filtercatcheckdiv{
    
}

.filtercatcheck{
    
}

.filtercatoptiondiv{
    display: flex;
    padding-bottom: 0.7rem;
}

.filtercatboxdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtercatoption{
    border: 0.4rem solid black;
    height: 1rem;
    width: 1rem;
}

.filterboxtxtdiv{
    padding-left: 0.5rem;
}

.filterboxtxt{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.filterbtndiv{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

.filterbtn{
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border-radius: 3rem;
    width: 100%;
    text-align: center;    
    font-size: 1rem;
    font-weight: 600;
}

.productlistdiv{
    width: 100%;
    flex-direction: column;
    height: 100%;
    display: flex;
    
}

.productheaderdiv{
    padding: 2rem;
    width:100%;
    padding-bottom: 1rem;
    
}

.productheader{
    margin: 0;
}

.productlistwrapper{
    display: flex;
}

.productcarddiv{
    padding: 2rem;

    
}

.productimgdiv{
    
}

.productimg{
    height: 10rem;
    width: 10rem;
    border-radius: 0.7rem 0.7rem 0 0;
}

.productcardcontent{
    display: flex;
    justify-content: space-between;
}
.productcard{
    border-radius: 0.7rem;
}

.productcardleft{
    padding: 0.5rem;
}

.productnamediv{
    
}

.productname{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.productcostdiv{
    
}

.productcost{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.productcardright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.productsavebtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsavebtn{
    
}

